{{ define "main" }}
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>About</h1>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col-md-12">
			<div>BRIDGE is integrated with UCSF APeX (an Epic system). BRIDGE is a SMART on FHIR application that launches from APeX and is available in seven clinics: Multiple Sclerosis, Primary Care, Epilepsy, Neurorecovery, Orthopedics, Memory and Aging and Parkinson's. Bridge will soon be available in more clinics, including: Pregnancy.</div>
			<div class="margin-top15">BRIDGE is a platform that allows for configuration of new clinic specific dashboards making use of our existing data integrations and widgets. The BRIDGE platform can also be extended to add additional data source integrations, algorithms and visualizations.</div>
		</div>
	</div>
	<div class="row margin-top50">
		<div class="col-md-12">
			<h3>Existing Infrastructure</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>Integrations</h4>
			<div>BRIDGE is integrated with multiple data sources and is easily able to expand to additional clinically relevant data sources.</div>
			<div class="margin-top15">Our current integrations include:</div>
		</div>
		<div class="col-md-6 offset-md-3">
			<div>
				<div class="margin-top30">
					<img src="{{ $.Site.BaseURL }}images/integrations2023.png">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>Visualizations</h4>
			<div>BRIDGE has multiple ways to visualize data, called widgets. The BRIDGE platform is built to easily expand the library of widgets.</div>
			<div class="margin-top15">Our current widgets include:</div>
		</div>
		<div class="col-md-8 offset-md-2">
			<div>
				<div class="margin-top30">
					<img src="{{ $.Site.BaseURL }}images/widgets1.png">
				</div>
				<div class="margin-top10">
					<img src="{{ $.Site.BaseURL }}images/widgets2.png">
				</div>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col-md-12">
			<h3>Creating a new dashboard</h3>
			<ul class="list-group margin-top15">
				<li class="list-group-item">
					<strong>Step 1:</strong> Design a BRIDGE dashboard: either making use of existing integrations and visualizations or with custom features.</li>
				<li class="list-group-item">
					<strong>Step 2:</strong> The BRIDGE team will create an estimate for the work scoped out in Step 1.
				</li>
				<li class="list-group-item">
					<strong>Step 3:</strong> Configuration and development of the new dashboard begins with continuous feedback from the new partner.</li>
			</ul>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col-md-12">
			<h3>Collaborating with BRIDGE</h3>
			<div>Researchers within UCSF looking to collaborate with us to develop new data integrations, algorithms and visualizations, please reach out to us to discuss further at: <strong>bridge@ucsf.edu</strong>.</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col-md-12">
			<h3>BRIDGE outside of UCSF</h3>
			<div>We are exploring options to extend the BRIDGE platform to other institutions. In order to make BRIDGE available at another center, the following will need to be in place:</div>
			<ul class="list-group margin-top30">
				<li class="list-group-item"><strong>Agreement: </strong>BRIDGE team and the external group will agree on academic terms.</li>
				<li class="list-group-item"><strong>Integrations: </strong>An Institution that has electronic health record (EHR) application programming interfaces (API) with SMART on FHIR capabilities. A SMART on FHIR launch link will need to be created, by EHR developers.</li>
				<li class="list-group-item"><strong>Approvals: </strong> Appoval to create a launch link, integrate with the EHR and host BRIDGE.</li>
				<li class="list-group-item"><strong>Resources: </strong> A developer will be required to implement and support BRIDGE. BRIDGE will also require a server to host and monitor the application and supporting infrastructure.</li>
			</ul>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col-md-12">
			<h3>Partners</h3>
			<ul class="list-group text-center">
				<li class="list-group-item">
					<a href="https://weill.ucsf.edu//">
						<h4>Weill Institute for Neurosciences</h4>
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://informationcommons.ucsf.edu/">
						<h4>Information Commons</h4>
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://spoke.ucsf.edu/">
						<h4>SPOKE</h4>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="big-divider"></div>
	<div class="row">
		<div class="col-md-12">
			<h3>Thank You!</h3>
			<div>We are sincerely grateful for the Weill Innovation Award that made this project a reality. The generosity of Joan and Sandy Weill has helped us create a bridge between innovative research discovery and clinical care at UCSF.</div>
		</div>
	</div>
	<div class="margin-top100"></div>
</div>
{{ end }}