{{ define "main" }}

<div class="container text-center">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Clinics</h1>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row margin-top30">
		<div class="col-md-12">
		</div>
		<div class="col-md-4 text-center">
			<h4>Autism</h4>
			<div></div>
		</div>
		<div class="col-md-4 text-center">
			<h4>Memory and Aging</h4>
			<div></div>
		</div>
		<div class="col-md-4 text-center">
			<h4>Mutliple Sclerosis</h4>
			<div></div>
		</div>
	</div>
	<div class="row margin-top100">
		<div class="col-md-4 offset-md-4 text-center">
			<h4>Geriatrics</h4>
			<div></div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row margin-top100">
		<div class="col-md-12">
			<h2>In Development</h2>
			<hr>
		</div>
		<div class="col-md-4 offset-md-4 text-center">
			<h4>Parkinson's</h4>
			<div>In XX we were awarded funding for a Parkinson's dashboard. We are currently developing a dashboard for the Parkinson's group that will visualize discrete EHR collected Parkinson's data, brain images and patient videos.</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row margin-top100">
		<div class="col-md-12">
			<h2>In Discussion</h2>
			<hr>
		</div>
		<div class="col-md-4 text-center">
			<h4>Breast Care Center</h4>
			<div>We are currently in discussions with the Breast Care center for two different BRIDGE dashboards. One for patient-reported outcomes and the other for connecting to and integrating with the Breast Care Center research patient registry: Athena.</div>
		</div>
		<div class="col-md-4 text-center">
			<h4>Epilepsy</h4>
			<div>We are currently in discusssions with the Epilepsy clinic to create a dashboard that would bring in patient generated seizure data, MRIs and monitoring data.</div>
		</div>
		<div class="col-md-4 text-center">
			<h4>Primary Care</h4>
			<div>We are working with Ida Sim in primary care on her AHRQ grant focused on patient-reported outcomes (PROs) collected through the mPROVE application. We will be working on developing a dashboard to bring mPROVE PROs to BRIDGE.</div>
		</div>
	</div>
	<div class="row margin-top100">
		<div class="col-md-4 offset-md-4 text-center">
			<h4>Traumatic Brain Injury</h4>
			<div>We are working with the Traumatic Brain Injury clinic to design and specify a dashboard for their clinical workflow.</div>
		</div>
		<div class="col-md-4 text-center">
			<h4></h4>
		</div>
	</div>
	<div class="margin-top100"></div>
</div>


{{ end }}