{{ define "main" }}
<article class="post">
    <header class="post__header">
        <h1 class="post__title">{{ .Title }}</h1>
        {{ if .Description }}
        <p class="post__subtitle">{{ .Description }}</p>
        {{ end }}
        {{ if ne .Type "page" }}
        {{ if and $.Site.Params.posts.showDate $.Site.Params.posts.showAuthor }}
        {{ end }}
        {{ end }}
    </header>

    {{ if ne .Type "page" }}
    <main class="post__body">
        {{ .Content }}
    </main>
    {{ else }}
    <main class="post__body" style="margin-bottom: 3rem;">
        {{ .Content }}
    </main>
    {{ end }}

    {{ if ne .Type "page" }}
    <footer class="post__footer">
        {{ .Render "tags" }}
    </footer>
    {{ end }}
</article>
{{ end }}
