{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Updates</h1>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
    	<div class="col-md-8 offset-md-2">
    		<div class="card width100percent">
	    		<h2>Marcus Grant</h2>
	    		<div>
	    			A collaboration accross BRIDGE, SPOKE and Information Commons has been awarded. Bringing Deep Biomedical Knowledge Networks into Clinical Practice at UCSF - Marcus Program in Precision Medicine Innovation (MPPMI) - Grant Award (PIs: Rankin, Baranzini, Butte)
	    		</div>
	    	</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-8 offset-md-2">
    		<div class="card width100percent">
	    		<h2>Primary Care</h2>
	    		<div>
	    			We are partnering with Ida Sim in Primary Care on her patient-reported outcomes initiate: mPROVE.
	    		</div>
	    	</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-8 offset-md-2">
    		<div class="card width100percent">
	    		<h2>Parkinson's Dashboard</h2>
	    		<div>
	    			PD-BRIDGE plans to transform how they visualize and deliver care for people with Parkinson’s disease and other movement disorders, aggregating the many types of information they collect and treatment they provide into one interactive and efficient display.
	    			<hr>
	    			<ul class="list-group">
	    				<li class="list-group-item"><a href="https://www.ucsfhealth.org/clinics/movement_disorder_and_neuromodulation_center/">Clinic website</a></li>
	    				<li class="list-group-item"><a href="https://rap.ucsf.edu/pilot-junior-investigators-basic-and-clinicaltranslational-sciences">Grant website</a></li>
	    			</ul>
	    		</div>
	    	</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-8 offset-md-2">
    		<div class="card width100percent">
	    		<h2>BRIDGE Go-live</h2>
	    		<div>
	    			The BRIDGE launch link went live on 4/17/19 in four UCSF clinics: Autism, Geriatrics, Memory and Aging and Multiple Sclerosis.
	    		</div>
	    	</div>
    	</div>
    </div>
    <div class="margin-top100"></div>
</div>
{{ end }}
