{{ define "main" }}
<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<div class="row">
				<div class="col-sm-12 text-center">
					<img src="images/BRIDGEdashboard2.png">
				</div>
				<div class="col-sm-12 text-center">
					<hr>
					<h2>
						Delivering your patient's relevant data to you 
						<div><strong>in one click.</strong></div>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<hr>

	<!-- blurbs -->
	<div class="row margin-top50">
		<div class="col-sm-1">
			<img class="homepage-icon" src="images/clinic.png">
		</div>
		<div class="col-sm-5">
			<h4>Point of Care</h4>
			<div>
				BRIDGE is integrated with the UCSF medical record, which is an Epic system. Clinicians can click on a link directly from the patient's medical record to launch the BRIDGE dashboard.
			</div>
		</div>

		<div class="col-sm-1">
			<img class="homepage-icon" src="images/visualization.png">
		</div>
		<div class="col-sm-5">
			<h3>Interactive</h3>
			<div>
				BRIDGE currently has multiple ways to visualize data, called widgets, that we continue to expand by engaging with clinicians, patients and scientists.
			</div>
		</div>
	</div>

	<div class="row margin-top50">
		<div class="col-sm-1">
			<img class="homepage-icon" src="images/realtime.png">
		</div>
		<div class="col-sm-5">
			<h3>Real-time</h3>
			<div>
				BRIDGE pulls from multiple data sources live - from the medical record, as well as varied research, patient-facing, wearable, and other platforms.
			</div>
		</div>

		<div class="col-sm-1">
			<img class="homepage-icon" src="images/actionable2.png">
		</div>
		<div class="col-sm-5">
			<h3>Actionable</h3>
			<div>
				BRIDGE displays actionable visualizations to support clinical decision making. 
			</div>
		</div>
	</div>

	<div class="row margin-top50">
		<div class="col-sm-1">
			<img class="homepage-icon" src="images/configurable.png">
		</div>
		<div class="col-sm-5">
			<h3>Configurable</h3>
			<div>
				BRIDGE is a configurable platform built to easily create clinic specific dashboards. Clinicians can mix and match between existing data sources and widgets.
			</div>
		</div>

		<div class="col-sm-1">
			<img class="homepage-icon" src="images/idea.png">
		</div>
		<div class="col-sm-5">
			<h3>Innovative</h3>
			<div>BRIDGE is built to bring research, algorithms and innovation to the point of care.</div>
		</div>
	</div>

	<!-- updates -->
	<hr class="divider">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2>Latest News</h2>
		</div>
	</div>
	<hr>

	<div class="row">
        <div class="col-md-6">
            <div>
                <h4>Our NLM Video!</h4>
                <div class="margin-top10">
                    <iframe width="495" height="300" src="https://www.youtube.com/embed/TUPjOfeWVf0?si=ruEYvSdSnYB1ZzlO;controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <h4>
                	Read our first publication for Parkinson Disease-BRIDGE Platform 
                	<a href="https://pubmed.ncbi.nlm.nih.gov/35522472">here.</a>
                </h4>
            </div>
        </div>
    </div>

	<div class="row margin-bottom50"></div>
</div>
{{ end }}