{{ define "main" }}
<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<div class="row">
				<div class="col-sm-12 text-center">
					<img src="images/BRIDGEdashboard2.png">
				</div>
				<div class="col-sm-12 text-center">
					<hr>
					<h2>
						Delivering your patient's relevant data to you 
						<div>in one click.</div>
					</h2>
				</div>
			</div>
			<div class="row margin-top100">
				<div class="col-sm-2">
					<img class="homepage-icon" src="images/clinic.png">
				</div>
				<div class="col-sm-9 offset-sm-1">
					<h3>Point of Care</h3>
					<div>BRIDGE is integrated with the UCSF Electronic Health Record (APeX) which is an Epic system. Clinicians can click on a link from the patient encounter screen in APeX to launch the BRIDGE dashboard.</div>
				</div>
			</div>
			<div class="row margin-top100">
				<div class="col-sm-2">
					<img class="homepage-icon" src="images/visualization.png">
				</div>
				<div class="col-sm-9 offset-sm-1">
					<h3>Interactive</h3>
					<div>
						BRIDGE currently has multiple ways to visualize data, called widgets. The BRIDGE platform is built to easily expand the library of widgets.
					</div>
				</div>
			</div>
			<div class="row margin-top100">
				<div class="col-sm-2">
					<img class="homepage-icon" src="images/realtime.png">
				</div>
				<div class="col-sm-9 offset-sm-1">
					<h3>Real-time</h3>
					<div>
						BRIDGE is integrated with multiple data sources and is easily able to expand to additional clinically relevant data sources.
					</div>
				</div>
			</div>
			<div class="row margin-top100">
				<div class="col-sm-2">
					<img class="homepage-icon" src="images/actionable2.png">
				</div>
				<div class="col-sm-9 offset-sm-1">
					<h3>Actionable</h3>
					<div>
						BRIDGE displays actionable visualizations to support clinical decision making. 
					</div>
				</div>
			</div>
			<div class="row margin-top100">
				<div class="col-sm-2">
					<img class="homepage-icon" src="images/configurable.png">
				</div>
				<div class="col-sm-9 offset-sm-1">
					<h3>Configurable</h3>
					<div>BRIDGE is a configurable platform built to easily create clinic specific dashboards. Clinicians can mix and match between existing data sources and widgets.</div>
				</div>
			</div>
			<div class="row margin-top100">
				<div class="col-sm-2">
					<img class="homepage-icon" src="images/idea.png">
				</div>
				<div class="col-sm-9 offset-sm-1">
					<h3>Innovative</h3>
					<div>BRIDGE is built to bring research, algorithms and innovation to the point of care.</div>
				</div>
			</div>
			<div class="margin-top100"></div>
		</div>
	</div>
</div>
{{ end }}